<div fxLayout="column" fxFlex="100" class="description">
  <hr style="width: 100%;">
  <span class="section-title">Portfolio</span>
  <p class="content">
    In this section I will be adding some of my personal projects specially built for enhancing my portfolio. All projects are hosted in
    <a href="https://www.digitalocean.com/" target="_blank">
      Digital Ocean</a> and all codes can be found in <a href="https://github.com/danisetg?tab=repositories" target="_blank">my github profile</a>.
  </p>

  <div fxLayout="row wrap" fxLayout.xs="column">
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="center center" fxFlex.xs="100" style="cursor: pointer;">
      <mat-card class="project">
        <h1>Casual Games</h1>
        <img src="assets/games.png" class="project-img">
        <span>Techologies involved: Angular, html, typescript, css</span>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="center center" fxFlex.xs="100" style="cursor: pointer;">
      <mat-card class="project">
        <h1>Math Blog</h1>
        <img src="assets/math.jpeg" class="project-img">
        <span>Techologies involved: Nodejs, Angular, html, typescript, css</span>
      </mat-card>
    </div>
  </div>




</div>
