
<div fxLayout="column" fxFlex="100" class="description">
  <hr style="width: 100%;">
  <span class="section-title">Portfolio</span>
  <p class="content">
    In this section I will be adding some of my personal projects specially built for enhancing my portfolio. All projects are hosted in
    <a href="https://www.digitalocean.com/" target="_blank">
      Digital Ocean</a> and all codes can be found in <a href="https://github.com/danisetg?tab=repositories" target="_blank">my github profile</a>.
  </p>
  <div class="center-content-horizontally">
    <mat-card  class="project" >
      <div fxlayout="column" class="project-image1" fxHide.xs fxFlex="30"></div>
        <div fxLayout="column" class="description" fxFlex="70" fxFlex.xs="100">
          <span class="title">Casual Games</span>
          <p>
            This is a recopilation of casual known games, including: minesweeper, solitaire, solitaire spider,
            accordion and carta blanca.
          </p>
          <p>
            The only technology used for building it was angular.
          </p>
          <a href="https://dglimagames.danisetportfolio.online" target="_blank">Watch project</a>
        </div>
    </mat-card>
  </div>
</div>
