<div fxLayout="column" class="description">
  <hr style="width: 100%;">
  <span class="section-title">About me</span>
  <p class="content">
    I am a software developer with robust problem-solving skills and experience in creating and designing software,
    specially websites, in a test-driven environment.
  </p>

  <mat-tab-group>

    <mat-tab label="Professional Skills">
      <app-skills></app-skills>
    </mat-tab>
    <mat-tab label="Experience">
      <app-experience></app-experience>
    </mat-tab>
    <mat-tab label="Education">
      <app-education></app-education>
    </mat-tab>
    <mat-tab label="Personal Attributes">
      <app-attributes></app-attributes>
    </mat-tab>
  </mat-tab-group>

</div>
