<div class="center-content-horizontally">
  <div class="rectangle-border">
    <div fxLayout="column"  style="text-align: left;">
      <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="70" fxFlex.xs="100" fxLayoutAlign="center start">
          <span class="title">CINVESTAV Guadalajara</span>
        </div>
        <div fxLayout="column" fxFlex="30" fxFlex.xs="100" fxLayoutAlign="center end" fxLayoutAlign.xs="start start">
          <span>Sept. 2019 - Present</span>
        </div>

      </div>
      <span class="subtitle">
        Master in Computer Science
      </span>

        <ul>
          <li>Took up specialization
            courses in computer science
            to broaden skill set.</li>
          <li>Researching about automatic
            software testing using model
            checking.</li>
        </ul>


    </div>
  </div>
</div>

<div class="center-content-horizontally">
  <div class="rectangle-border">
    <div fxLayout="column"  style="text-align: left;">
      <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="70" fxFlex.xs="100" fxLayoutAlign="center start">
          <span class="title">UCLV Cuba</span>
        </div>
        <div fxLayout="column" fxFlex="30" fxFlex.xs="100" fxLayoutAlign="center end" fxLayoutAlign.xs="start start">
          <span>Sept. 2011 - Jul. 2016</span>
        </div>

      </div>
      <span class="subtitle">
        Telecommunication Engineering
      </span>

      <ul>
        <li>Scientific Merit Award</li>
        <li>Participation in two ACM-ICPC
          regional programming
          contest.</li>

      </ul>


    </div>
  </div>
</div>
