<div fxLayout="row" fxLayout.xs="column">
  <div fxLayout="column" fxFlex="40" fxFlex.xs="100" style="text-align: left;">
    <h2>CINVESTAV Guadalajara</h2>
    <h3>Master in Science</h3>
    <span>Sept. 2019 to Present</span>
    <ul>
      <li>Took up specialization
        courses in computer science
        to broaden skill set</li>
      <li>Researching about automatic
        software testing using model
        checking</li>
    </ul>
  </div>
  <div fxLayout="column" fxFlex="10" fxFlex.xs="100" style="text-align: left;"></div>
  <div fxLayout="column" fxFlex="50" fxFlex.xs="100" style="text-align: left;">
    <h2>UCLV Cuba</h2>
    <h3>Telecommunication Engineering</h3>
    <span>Sept. 2011 to Jul. 2016</span>
    <ul>
      <li>Scientific Merit Award</li>
      <li>Participation in two ACM-ICPC
        regional programming
        contest.</li>

    </ul>
  </div>

</div>
