<div *ngIf="!loading">
  <div *ngFor="let group of groups">
    <div fxLayout="row" class="skill-header">
      <h2>{{group.title}}</h2>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column">

      <div fxLayout="column" *ngFor="let skill of group.skills" fxFlex="25" fxFlex.xs="100" class="attribute" fxLayoutAlign="center center">

            <span>
              {{skill.name}}

            </span>
            <div fxLayout="row" style="width: 80%;" fxLayoutAlign="center center">
              <mat-progress-bar color="accent" strokeWidth="3"
              [value]="skill.percent">
              </mat-progress-bar>
              <span style="margin-left: 5px;">{{skill.percent}}%</span>
            </div>
      </div>
    </div>
  </div>
</div>
