
<div fxLayout="row">
  <h2>Technologies:</h2>
</div>
<div fxLayout="row wrap" fxLayout.xs="column">

  <div fxLayout="column" *ngFor="let technology of technologies" fxFlex="25" fxFlex.xs="100" class="attribute" fxLayoutAlign="center center">

        <span>{{technology.title}}</span>
        <div fxLayout="row" style="width: 80%;" fxLayoutAlign="center center">
          <mat-progress-bar color="accent" strokeWidth="3"
          [value]="technology.value">
          </mat-progress-bar>
          <span style="margin-left: 5px;">{{technology.value}}%</span>
        </div>
  </div>

</div>


<div fxLayout="row">
  <h2>Software Development Methodologies:</h2>
</div>
<div fxLayout="row wrap" fxLayout.xs="column">

  <div fxLayout="column" fxFlex="33" fxFlex.xs="100" fxLayoutAlign="center center">
        <span>Waterfall</span>
        <div fxLayout="row" style="width: 80%;" fxLayoutAlign="center center">
          <mat-progress-bar color="accent" strokeWidth="3"
          [value]="75">
          </mat-progress-bar>
          <span style="margin-left: 5px;">75%</span>
        </div>
  </div>
  <div fxLayout="column" fxFlex="33" fxFlex.xs="100" fxLayoutAlign="center center">
    <span>SCRUM</span>
    <div fxLayout="row" style="width: 80%;" fxLayoutAlign="center center">
      <mat-progress-bar color="accent" strokeWidth="3"
      [value]="85">
      </mat-progress-bar>
      <span style="margin-left: 5px;">85%</span>
    </div>
  </div>
  <div fxLayout="column" fxFlex="33" fxFlex.xs="100" fxLayoutAlign="center center">
    <span>XP</span>
    <div fxLayout="row" style="width: 80%;" fxLayoutAlign="center center">
      <mat-progress-bar color="accent" strokeWidth="3"
      [value]="80">
      </mat-progress-bar>
      <span style="margin-left: 5px;">80%</span>
    </div>
  </div>
</div>

<div fxLayout="row">
  <h2>Spoken Languages:</h2>
</div>
<div fxLayout="row wrap" fxLayout.xs="column">

  <div fxLayout="column" fxFlex="33" fxFlex.xs="100" fxLayoutAlign="center center">
        <span>Spanish</span>
        <div fxLayout="row" style="width: 80%;" fxLayoutAlign="center center">
          <mat-progress-bar color="accent" strokeWidth="3"
          [value]="99">
          </mat-progress-bar>
          <span style="margin-left: 5px;">99%</span>
        </div>
  </div>
  <div fxLayout="column" fxFlex="33" fxFlex.xs="100" fxLayoutAlign="center center">
    <span>English</span>
    <div fxLayout="row" style="width: 80%;" fxLayoutAlign="center center">
      <mat-progress-bar color="accent" strokeWidth="3"
      [value]="85">
      </mat-progress-bar>
      <span style="margin-left: 5px;">85%</span>
    </div>
  </div>
</div>
