<div class="center-content-horizontally">
  <div class="rectangle-border">
    <div fxLayout="column"  style="text-align: left;">
      <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="70" fxFlex.xs="100" fxLayoutAlign="center start">
          <span class="title">Software Developer Engineer</span>
        </div>
        <div fxLayout="column" fxFlex="30" fxFlex.xs="100" fxLayoutAlign="center end" fxLayoutAlign.xs="start start">
          <span>Sept. 2021 - Present</span>
        </div>
      </div>
      <span class="subtitle">
        Envato - Guadalajara, México
      </span>

      <p>
        Work as frontend developer, creating solutions and new features for <a href="https://placeit.net" target="_blank">placeit</a>,
        using vanilla javascript, html and css/scss.
      </p>

    </div>
  </div>
</div>
<div class="center-content-horizontally">
  <div class="rectangle-border">
    <div fxLayout="column"  style="text-align: left;">
      <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="70" fxFlex.xs="100" fxLayoutAlign="center start">
          <span class="title">Freelance Web Developer</span>
        </div>
        <div fxLayout="column" fxFlex="30" fxFlex.xs="100" fxLayoutAlign="center end" fxLayoutAlign.xs="start start">
          <span>Sept. 2016 - Present</span>
        </div>
      </div>
      <p>
        Created different styles of web solutions for various clients, using updated web-related technologies:
        angular, html5, css/scss, javascript/typescript, reactjs, nodejs, ruby on rails, SQL, mongodb.
      </p>

    </div>
  </div>
</div>
<div class="center-content-horizontally">
  <div class="rectangle-border">
    <div fxLayout="column"  style="text-align: left;">
      <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="70" fxFlex.xs="100" fxLayoutAlign="center start">
          <span class="title">Software Developer</span>
        </div>
        <div fxLayout="column" fxFlex="30" fxFlex.xs="100" fxLayoutAlign="center end" fxLayoutAlign.xs="start start">
          <span>Sept. 2016 - Aug. 2018</span>
        </div>

      </div>
      <span class="subtitle">
        EICMA - Cuba
      </span>
      <p>
        Developed and implemented software solutions for different companys related with agriculture area, using technologies related with
        desktop applications: C, C++, C#, Java, SQL.
      </p>

    </div>
  </div>
</div>
