<div fxLayout="row" fxLayout.xs="column">
  <div fxLayout="column" fxFlex="50" fxFlex.xs="100" style="text-align: left;">
    <h2>Freelance Web Developer:</h2>
    <span>Sept. 2016 to Present</span>

    <ul>
      <li>Created different styles of web solutions for various clients</li>
      <li>Designed and created databases</li>
      <li>Enhanced websites and fixed
        errors</li>
    </ul>
  </div>

  <div fxLayout="column" fxFlex="50" fxFlex.xs="100" style="text-align: left;">
    <h2>Software Developer:</h2>
    <span>Sept. 2016 to Aug. 2018, EICMA, Cienfuegos, Cuba</span>

    <ul>
      <li>Developed and implemented
        software solutions based on
        client requirements</li>
      <li>Tested and refined software
        prior to rollout</li>

    </ul>
  </div>

</div>
